h2{font-size: 1.875rem; display: inline-block;
   color: #222;}
h3{font-size: 1rem; display: inline-block;
   color: #777;font-weight: normal;}

#wrap{}
#header{}
#section{}
#footer{}

/*********************header****************************/


/*********************section****************************/
/*sec1*/
#sec1{z-index: 100;}

/*sec2*/
#sec2 .inner{position: relative;}
#sec2 h2{color: #fff;
         padding-left: 20px;
         padding-top: 15px;
         padding-bottom: 10px;}
#sec2 ul{font-size: 1.3rem;
         padding-left: 20px;}
#sec2 .notice,.pupr{width: 500px; height: 100px; background-color: #EC9C0A;
                    position: absolute; bottom: 3px; opacity: 0.7;
                    z-index: 101;color: #fff;}
#sec2 .notice{left: 0;}
#sec2 .pupr{right: 0;}
#sec2 .not_slide,#sec2 .pr_slide{height: 2em; overflow: hidden;}
#sec2 .not_txt,#sec2 .pr_txt{line-height: 2rem;
                             position: relative;}
#sec2 .not_txt span{font-size: 1rem;
                    padding-left: 20px;}
#sec2 .notice:hover .not_txt{color: #222;font-weight: bold;}                     
#sec2 .pupr:hover .pr_txt{color: #222;font-weight: bold;}

/*sec3*/
#sec3 h2,#sec3 h3{margin-top: 70px;}
#sec3 h2{margin-right: 20px;}
#sec3 .inner > div{margin-right: 35px; width: calc((100% - 70px) / 3);
                   margin-top: 20px;
                   height: 400px; box-sizing: border-box;
                   float: left;
                   position: relative;
                   text-align: center;}
#sec3 .inner > div:last-child{margin-right: 0;}
#sec3:after{content: '';display: block;clear: both;}
#sec3 .inner > div a{display: block;height: 400px;box-sizing: border-box;}
#sec3 .inner > div a:before{content: '';display: block;
                            width: 0; height:0;
                            position: absolute;left: 0;top: 0;
                            border: 4px solid transparent;}
#sec3 .inner > div:hover a:before{width: calc(100% - 8px); height: calc(100% - 8px);
                                  border-right-color: #EC9C0A; transition: width 0.4s, height 0.4s 0.4s;
                                  border-top-color: #EC9C0A;}
#sec3 .inner > div a:after{content: '';display: block;
                           width: 0; height:0;
                           position: absolute;right: 0;bottom: 0;
                           border: 4px solid transparent;}
#sec3 .inner > div:hover a:after{width: calc(100% - 8px); height: calc(100% - 8px);
                                 border-left-color: #EC9C0A; transition: width 0.4s, height 0.4s 0.4s;
                                 border-bottom-color: #EC9C0A;}
#sec3 .inner > div a:after{content: '';}
#sec3 .sec3_tit{font-size: 1.875rem; color: #222;
                line-height: 4em;}
#sec3 .sec3_txt1,.sec3_txt2{font-size: 1rem; color: #777;}
#sec3 .sec3_txt1{display: none;}
#sec3 .sec3_txt2{line-height: 4em;}
#sec3 .sec3_icon1{width: 120px;height: 120px;
                  margin: 0 auto;}
#sec3 .sec3_icon1 img{width: 100%;}
#sec3 .sec3_bnt{border: 1px solid #777;
                padding: 10px 15px;}
#sec3 .inner > div:hover .sec3_txt1{display: block;margin-bottom: 45px;margin-top: 45px;}
#sec3 .inner > div:hover .sec3_icon1{display: none;}
#sec3 .inner > div:hover .sec3_bnt{background-color: #EC9C0A;border: none;color: #fff;}


/*sec4*/
#sec4{content: ''; display: block; clear: both;}
#sec4 h2,#sec4 h3{margin-top: 110px; margin-bottom: 20px;}
#sec4 h2{margin-right: 20px;}
#sec4 ul{margin-bottom: 110px;}
#sec4 ul li{float: left;
            width: calc((100% - 35px) / 2);
            margin-right: 35px;
            margin-bottom: 110px;
            position: relative;}
#sec4 ul li:first-child{width: 32.5%;}
#sec4 ul li:first-child span {font-size: 1.2rem;
                              position: absolute;}
#sec4 ul li:first-child .box1txt1{top: 40px;left: calc(50% - 62px);}
#sec4 ul li:first-child .box1txt2{top: 70px;left: calc(50% - 83px);}
#sec4 ul li:first-child .box1txt3{top: 100px;left: calc(50% - 126px);}
#sec4 ul li:last-child{width: 64.7%;
                       margin-right: 0;}
#sec4 ul li:last-child span{position: absolute;
                            font-size: 1.2rem;}
#sec4 ul li:last-child .box2txt1{top: 50px; left: calc(75% - 95px);
                                 background-color: #EFA0A0;
                                 color: #fff;
                                 padding: 15px 25px;}
#sec4 ul li:last-child .box2txt2{top: 125px;left: calc(75% - 102.5px);
                                 font-size: 2rem;}
#sec4 ul li:last-child .box2txt3{top: 180px;left: calc(75% - 89.5px);}
#sec4 ul li:last-child .box2txt4{top: 210px;left: calc(75% - 78.5px);}
#sec4 ul li:last-child .box2txt5{top: 240px;left: calc(75% - 72.5px);}

/*sec5*/
#sec5 h2{margin-top: 43px;}
#sec5 h3{display: block;
         margin-top: 20px;
         margin-bottom: 70px;}
#sec5 .sec5_tit{width: 400px; float: left;
                margin-right: 35px;position: relative;}
#sec5 .sec5_tit p{position: absolute;top: 20px;left: 20px;}
#sec5 .sec5_tit a{position: absolute;bottom: 20px;left: 20px;}
#sec5 .sec5_tit .tit_tit1{font-size: 1.875rem;}
#sec5 .sec5_tit .tit_txt1{color: #777;top: 60px;}
#sec5 .sec5_tit .tit_tit2{font-size: 1.875rem;top: 340px;}
#sec5 .sec5_tit .tit_txt2{color: #777;top: 380px;}
#sec5 .sec5_tit .tit_bnt1{border: 1px solid#777;
                          padding: 10px 15px;}
#sec5 .sec5_tit .tit_bnt1:hover{border: none;background-color: #EC9C0A;color: #fff;}              
#sec5 .sec5_tit img{width: 100%;}
#sec5 .sec5_cont{width: calc(100% - 435px);float: left;
                 position: relative;}
#sec5 .regular img{width: 100%;}
#sec5 .regular div{position: relative;}
#sec5 .regular div:nth-child(1){margin-right: 20px;}
#sec5 .regular div:nth-child(3){margin-right: 20px;}                                  
#sec5 .sec5_cont p{position: absolute;bottom: 20px;
                   color: #fff;
                   padding: 5px 10px;
                   z-index: 100;}
#sec5 .sec5_cont .abox{background-color: #4F94EB;
                       left: 20px;}
#sec5 .sec5_cont .bbox{background-color: #EC9C0A;
                       right: 20px;}
/*sec6*/

#sec6 h2{margin-top: 110px; margin-bottom: 20px;} 
#sec6 .vod_big{width: 100%; height: 540px;
               background-color: #EC9C0A;
               opacity: 0.7;}
#sec6 .inner{position: relative;}
#sec6 .vod_box{position: absolute;top: 162px;left: 0;
               z-index: 100;}
#sec6 .play_bnt{width: 150px;height: 150px;z-index: 110;
                background: url(../images/playbnt.png)center no-repeat;
                position: absolute;top: 350px;left: 565px;}
#sec6 .vod_box:hover{cursor: pointer;}                           


/*sec7*/
#sec7 .inner{}
#sec7 h2,#sec7 h3{margin-top: 110px; margin-bottom: 20px;}
#sec7 h2{margin-right: 20px;}

#sec7 .regular div{margin-right: 20px;
                   text-align: center;} 
#sec7 .regular div:last-child{margin-right: 0;}
#sec7 .sec7_tit span{padding: 5px 10px;
                     color: #fff;
                     font-size: 1rem;
                     margin-right: 30px;
                     font-weight: normal;}
#sec7 .or_box{background-color: #EC9C0A;}
#sec7 .bu_box{background-color: #4F94EB;}
#sec7 .sec7_tit{font-weight: bold;
                font-size: 1.2rem;
                line-height: 4em;}
#sec7 .sec7_txt{color: #777;}

